body {
    font-family: 'Roboto' , Sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #ffffff;
    font-weight: bold;
}

.texte-centre_SF {
    width: 60%; /* Définit la largeur du bloc */
    margin: 0 auto; /* Centre le bloc horizontalement */
    text-align: justify; /* Justifie le texte pour qu'il soit aligné des deux côtés */
    line-height: 1.5; /* Espacement entre les lignes pour améliorer la lisibilité */
    padding: 20px; /* Ajoute du padding pour un peu d'espace intérieur */
}

.texte-centre {
    width: 60%; /* Définit la largeur du bloc */
    margin: 0 auto; /* Centre le bloc horizontalement */
    text-align: justify; /* Justifie le texte pour qu'il soit aligné des deux côtés */
    line-height: 1.5; /* Espacement entre les lignes pour améliorer la lisibilité */
    padding: 20px; /* Ajoute du padding pour un peu d'espace intérieur */
    background-color: #2e2e2e; /* Ajoute une couleur de fond (optionnel) */
    border-radius: 8px; /* Arrondit les coins (optionnel) */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet visuel (optionnel) */
}

@media (max-width: 600px) {
    /* Styles pour les petits écrans */
}

img {
    max-width: 100%;
    height: auto;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    animation: fadeIn 1s ease-in-out;
   
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.highlight {
    border: 2px solid #F5F5DC; /* Couleur de la bordure */
    padding: 5px; /* Espacement à l'intérieur de la bordure */
    border-radius: 5px; /* Coins arrondis (optionnel) */
    background-color: #979795; /* Couleur de fond semi-transparente (optionnel) */
}

.nom {
    font-weight: bold; /* Met le texte en gras */
    color: #F5F5DC; /* Change la couleur (ici, un doré) */
    font-size: 28px; /* Ajustez la taille selon vos préférences */
}

nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FFD700;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%; /* Le soulignement apparaît */
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Affiche les éléments de la liste en ligne */
    margin: 0 15px; /* Espace entre les liens */
    position: relative; /* Nécessaire pour le positionnement absolu de .contact-info */
}

.contact-info {
    display: none; /* Masqué par défaut */
    position: absolute; /* Positionnement absolu */
    background-color: #333; /* Couleur de fond des informations */
    color: #fff; /* Couleur du texte */
    padding: 10px; /* Espacement à l'intérieur */
    border: 1px solid #ccc; /* Bordure pour délimiter */
    z-index: 1000; /* S'assurer que cela est au-dessus des autres éléments */
    width: 200px; /* Largeur de la boîte d'information */
    left: 0; /* Positionner à gauche */
    top: 100%; /* Juste en dessous de l'élément parent */
}

/* Ajoutez ce style pour afficher les informations de contact au survol */
.contact:hover .contact-info {
    display: block; /* Affiche les informations de contact au survol */
    
}



body {
    margin-top: 60px; /* Ajoute un espace en haut pour éviter que le contenu soit caché par l'en-tête */
}

nav ul li a {
    color: #fff; /* Couleur des liens */
    text-decoration: none; /* Pas de soulignement */
    font-weight: bold; /* Mettre en gras */
}

section {
    padding: 20px;
    text-align: center;
}

#projets .projet {
    margin-bottom: 30px;
}

#projets img {
    transition: transform 0.3s, filter 0.3s;
    width: 300px; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour maintenir le ratio */
    border-radius: 10px; /* Bords arrondis pour l'image */
}

#projets img:hover {
    transform: scale(1.1); /* Zoom */
    filter: brightness(1.2); /* Rendre l'image plus lumineuse */
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a[href*=".pdf"]:hover {
    color: #FFD700;
    text-decoration: underline;
}

a[href*=".pdf"]:hover::after {
    content: ' 📄';
    margin-left: 5px;

}



a[href*=".pdf"] {
    color: #F5F5DC; /* Choisissez la couleur que vous souhaitez */
    text-decoration: none; /* Enlève le soulignement, si souhaité */
}

a[href*=".pdf"]:hover {
    text-decoration: underline; /* Soulignement au survol, optionnel */
}

h1 {
    font-size: 54px; /* Ajustez la taille selon vos préférences */
    font-weight: bold; /* Rend le texte plus épais */
    color: #F5F5DC; /* Définit la couleur des titres h3 */
}

h2 {
    font-size: 44px; /* Ajustez la taille selon vos préférences */
    font-weight: bold; /* Rend le texte plus épais */
    color: #F5F5DC; /* Définit la couleur des titres h3 */
}

h3 {
    font-size: 34px; /* Ajustez la taille selon vos préférences */
    font-weight: bold; /* Rend le texte plus épais */
    color: #F5F5DC; /* Définit la couleur des titres h3 */
}

h4 {
    font-size: 24px; /* Ajustez la taille selon vos préférences */
    font-weight: bold; /* Rend le texte plus épais */
    color: #F5F5DC; /* Définit la couleur des titres h3 */
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-button {
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 50%; /* Arrondir en cercle */
    width: 40px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    font-size: 20px; /* Taille de la flèche */
    cursor: pointer; /* Curseur de main */
    margin: 0 10px; /* Espacement entre les flèches */
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #555; /* Couleur de fond au survol */
}
